export QT_QPA_PLATFORMTHEME=qt5ct
export GPG_TTY=$(tty)
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/gcr/ssh

PATH=$PATH:$HOME/.local/bin:$HOME/.local/share/JetBrains/Toolbox/scripts:$HOME/.local/xPacks/@xpack-dev-tools/openocd/0.12.0-1.1/.content/bin:$HOME/.local/xPacks/@gnu-mcu-eclipse/arm-none-eabi-gcc/8.2.1-1.7.1/.content/bin
